.landing-parallax {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  
    /* Full height */
    height: 600px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  

  
.landing-header {
    // padding: 0 0 0 20px;
    position: absolute;
    top: 200px;
    right: 180px;
    color: #ffffff;
    font-size: 3em;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.45);
    justify-self: flex-end;
   
  }
 
  .landing-header > h1 > i {
    font-size: 1.3em;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.45);

  }
