

.content-container{
    width: 100%;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px){

    .content-container{
        max-width: 720px;
    }
}

@media (min-width: 576){

    .content-container{
        max-width: 540;
    }
}


