@import "../../style//Colors.scss ";

.input-border {
  min-height: 30px;
  box-sizing: border-box;
  display: block;
  margin: 10px 0px;
  width: 100%;
  border: 2px solid $flare-color;
  border-color:$flare-color;
  padding: 0;
  padding-left: 5px;
  font-size: 14px;
  color:#474747;
}

.input-gray{
    background-color: #eee;
    border: none;
    padding: 12px 7px;
    margin: 8px 0px;
    width: 100%;
    box-sizing: border-box;
}

.input-border::placeholder {
 
}
