/**********************************
 * APP - COLORS
 * 
/**********************************/
//Pallete: https://flatuicolors.com/palette/defo
$flare-color:rgb(107, 194, 99);
$base-color: #ffffff; //White
$base-hover: #f4f4f4;
$main-text: #3d3d3d; //
 //$bg-color: #ecf0f1; // Clouds
 $bg-color: #e1e6e7; // Custom

//$bg-color: #ebebeb; // City Lights

$error:  #ff7675;
$success: #27ae60;
$warning:  #f6e58d;

