/**********************************
 * APP - COLORS
 * 
/**********************************/
//Pallete: https://flatuicolors.com/palette/defo
$flare-color:#27ae60; //Nephritis
$base-color: #ffffff; //White
$base-hover: #f4f4f4;
$main-text: #3d3d3d; //
$bg-color: #ecf0f1 // Clouds